In [6]:
import numpy as np
import pandas as pd
import ast

In [7]:
movies_metadata = pd.read_csv("../dataset/movies_metadata.csv")
pd.set_option('display.max_columns', None)
movies_metadata.head()

C:\Users\Ali Can\AppData\Local\Temp\ipykernel_2516\2847004483.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv("../dataset/movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [8]:
df_dict = {'id': [], 'name': []}

In [9]:
columns = movies_metadata['genres'].apply(lambda x: ast.literal_eval(x) if not pd.isna(x) else x)
columns

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [10]:
genres = []
for col in columns.values:
        for genre in col:
            if genre not in genres:
                genres.append(genre)
genres

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 18, 'name': 'Drama'},
 {'id': 28, 'name': 'Action'},
 {'id': 80, 'name': 'Crime'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 27, 'name': 'Horror'},
 {'id': 36, 'name': 'History'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10752, 'name': 'War'},
 {'id': 10769, 'name': 'Foreign'},
 {'id': 10402, 'name': 'Music'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 37, 'name': 'Western'},
 {'id': 10770, 'name': 'TV Movie'},
 {'name': 'Carousel Productions', 'id': 11176},
 {'name': 'Vision View Entertainment', 'id': 11602},
 {'name': 'Telescene Film Group Productions', 'id': 29812},
 {'name': 'Aniplex', 'id': 2883},
 {'name': 'GoHands', 'id': 7759},
 {'name': 'BROSTA TV', 'id': 7760},
 {'name': 'Mardock Scramble Production Committee', 'id': 7761},
 {'name': 'Sentai Filmworks', 'id': 33751},
 {'name': 'Odyssey Media', 'id': 17161},
 {'name': 'Pulser Productions', 'id': 18012},
 {'name': 'Rogue State', 'id': 18013},
 {'name': 'The Cartel', 'id': 23822}]

In [11]:
for genre in genres:
    df_dict['id'].append(genre['id'])
    df_dict['name'].append(genre['name'])

In [12]:
df_dict

{'id': [16,
  35,
  10751,
  12,
  14,
  10749,
  18,
  28,
  80,
  53,
  27,
  36,
  878,
  9648,
  10752,
  10769,
  10402,
  99,
  37,
  10770,
  11176,
  11602,
  29812,
  2883,
  7759,
  7760,
  7761,
  33751,
  17161,
  18012,
  18013,
  23822],
 'name': ['Animation',
  'Comedy',
  'Family',
  'Adventure',
  'Fantasy',
  'Romance',
  'Drama',
  'Action',
  'Crime',
  'Thriller',
  'Horror',
  'History',
  'Science Fiction',
  'Mystery',
  'War',
  'Foreign',
  'Music',
  'Documentary',
  'Western',
  'TV Movie',
  'Carousel Productions',
  'Vision View Entertainment',
  'Telescene Film Group Productions',
  'Aniplex',
  'GoHands',
  'BROSTA TV',
  'Mardock Scramble Production Committee',
  'Sentai Filmworks',
  'Odyssey Media',
  'Pulser Productions',
  'Rogue State',
  'The Cartel']}

In [14]:
movies_genres = pd.DataFrame.from_dict(df_dict)
movies_genres

       id                                   name
0      16                              Animation
1      35                                 Comedy
2   10751                                 Family
3      12                              Adventure
4      14                                Fantasy
5   10749                                Romance
6      18                                  Drama
7      28                                 Action
8      80                                  Crime
9      53                               Thriller
10     27                                 Horror
11     36                                History
12    878                        Science Fiction
13   9648                                Mystery
14  10752                                    War
15  10769                                Foreign
16  10402                                  Music
17     99                            Documentary
18     37                                Western
19  10770                               TV Movie
20  11176                   Carousel Productions
21  11602              Vision View Entertainment
22  29812       Telescene Film Group Productions
23   2883                                Aniplex
24   7759                                GoHands
25   7760                              BROSTA TV
26   7761  Mardock Scramble Production Committee
27  33751                       Sentai Filmworks
28  17161                          Odyssey Media
29  18012                     Pulser Productions
30  18013                            Rogue State
31  23822                             The Cartel

In [15]:
movies_genres.to_csv('./clean_db/movies_genres.csv', index=False)