In [89]:
import numpy as np
import pandas as pd
import ast

In [90]:
movies_metadata = pd.read_csv("../dataset/movies_metadata.csv")
pd.set_option('display.max_columns', None)
movies_metadata.head()

C:\Users\Ali Can\AppData\Local\Temp\ipykernel_2464\2847004483.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv("../dataset/movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [95]:
movies_metadata.loc[0]['production_countries']

"[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [96]:
df_dict = {'iso_3166_1': [], 'name': []}

In [97]:
columns = movies_metadata['production_countries'].apply(lambda x: ast.literal_eval(x) if not pd.isna(x) else x)
columns

0        [{'iso_3166_1': 'US', 'name': 'United States o...
1        [{'iso_3166_1': 'US', 'name': 'United States o...
2        [{'iso_3166_1': 'US', 'name': 'United States o...
3        [{'iso_3166_1': 'US', 'name': 'United States o...
4        [{'iso_3166_1': 'US', 'name': 'United States o...
                               ...
45461               [{'iso_3166_1': 'IR', 'name': 'Iran'}]
45462        [{'iso_3166_1': 'PH', 'name': 'Philippines'}]
45463    [{'iso_3166_1': 'US', 'name': 'United States o...
45464             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45465     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
Name: production_countries, Length: 45466, dtype: object

In [103]:
for x, col in enumerate(columns.values):
    if not type(col) == list:
        print(col)
        columns[x] = np.NaN

nan
nan
nan
nan
nan
nan

In [105]:
countries = []
for col in columns.values:
    if type(col) == list:
        for country in col:
            if country not in countries:
                countries.append(country)
countries

[{'iso_3166_1': 'US', 'name': 'United States of America'},
 {'iso_3166_1': 'DE', 'name': 'Germany'},
 {'iso_3166_1': 'GB', 'name': 'United Kingdom'},
 {'iso_3166_1': 'FR', 'name': 'France'},
 {'iso_3166_1': 'IT', 'name': 'Italy'},
 {'iso_3166_1': 'ES', 'name': 'Spain'},
 {'iso_3166_1': 'CN', 'name': 'China'},
 {'iso_3166_1': 'AU', 'name': 'Australia'},
 {'iso_3166_1': 'ZA', 'name': 'South Africa'},
 {'iso_3166_1': 'CA', 'name': 'Canada'},
 {'iso_3166_1': 'CH', 'name': 'Switzerland'},
 {'iso_3166_1': 'BE', 'name': 'Belgium'},
 {'iso_3166_1': 'JP', 'name': 'Japan'},
 {'iso_3166_1': 'IR', 'name': 'Iran'},
 {'iso_3166_1': 'NL', 'name': 'Netherlands'},
 {'iso_3166_1': 'HK', 'name': 'Hong Kong'},
 {'iso_3166_1': 'TN', 'name': 'Tunisia'},
 {'iso_3166_1': 'IE', 'name': 'Ireland'},
 {'iso_3166_1': 'DO', 'name': 'Dominican Republic'},
 {'iso_3166_1': 'HR', 'name': 'Croatia'},
 {'iso_3166_1': 'RU', 'name': 'Russia'},
 {'iso_3166_1': 'MK', 'name': 'Macedonia'},
 {'iso_3166_1': 'AT', 'name': 'Austria'},
 {'iso_3166_1': 'TW', 'name': 'Taiwan'},
 {'iso_3166_1': 'NZ', 'name': 'New Zealand'},
 {'iso_3166_1': 'MX', 'name': 'Mexico'},
 {'iso_3166_1': 'PL', 'name': 'Poland'},
 {'iso_3166_1': 'PE', 'name': 'Peru'},
 {'iso_3166_1': 'CU', 'name': 'Cuba'},
 {'iso_3166_1': 'LI', 'name': 'Liechtenstein'},
 {'iso_3166_1': 'DK', 'name': 'Denmark'},
 {'iso_3166_1': 'PT', 'name': 'Portugal'},
 {'iso_3166_1': 'FI', 'name': 'Finland'},
 {'iso_3166_1': 'SE', 'name': 'Sweden'},
 {'iso_3166_1': 'AR', 'name': 'Argentina'},
 {'iso_3166_1': 'IS', 'name': 'Iceland'},
 {'iso_3166_1': 'KR', 'name': 'South Korea'},
 {'iso_3166_1': 'RS', 'name': 'Serbia'},
 {'iso_3166_1': 'HU', 'name': 'Hungary'},
 {'iso_3166_1': 'CZ', 'name': 'Czech Republic'},
 {'iso_3166_1': 'IN', 'name': 'India'},
 {'iso_3166_1': 'BR', 'name': 'Brazil'},
 {'iso_3166_1': 'GR', 'name': 'Greece'},
 {'iso_3166_1': 'CD', 'name': 'Congo'},
 {'iso_3166_1': 'SN', 'name': 'Senegal'},
 {'iso_3166_1': 'BF', 'name': 'Burkina Faso'},
 {'iso_3166_1': 'RO', 'name': 'Romania'},
 {'iso_3166_1': 'PH', 'name': 'Philippines'},
 {'iso_3166_1': 'VN', 'name': 'Vietnam'},
 {'iso_3166_1': 'TT', 'name': 'Trinidad and Tobago'},
 {'iso_3166_1': 'BG', 'name': 'Bulgaria'},
 {'iso_3166_1': 'CL', 'name': 'Chile'},
 {'iso_3166_1': 'NO', 'name': 'Norway'},
 {'iso_3166_1': 'KZ', 'name': 'Kazakhstan'},
 {'iso_3166_1': 'DZ', 'name': 'Algeria'},
 {'iso_3166_1': 'LU', 'name': 'Luxembourg'},
 {'iso_3166_1': 'GE', 'name': 'Georgia'},
 {'iso_3166_1': 'UA', 'name': 'Ukraine'},
 {'iso_3166_1': 'BW', 'name': 'Botswana'},
 {'iso_3166_1': 'AW', 'name': 'Aruba'},
 {'iso_3166_1': 'IL', 'name': 'Israel'},
 {'iso_3166_1': 'TR', 'name': 'Turkey'},
 {'iso_3166_1': 'EC', 'name': 'Ecuador'},
 {'iso_3166_1': 'LB', 'name': 'Lebanon'},
 {'iso_3166_1': 'MA', 'name': 'Morocco'},
 {'iso_3166_1': 'BA', 'name': 'Bosnia and Herzegovina'},
 {'iso_3166_1': 'BS', 'name': 'Bahamas'},
 {'iso_3166_1': 'MY', 'name': 'Malaysia'},
 {'iso_3166_1': 'BT', 'name': 'Bhutan'},
 {'iso_3166_1': 'JM', 'name': 'Jamaica'},
 {'iso_3166_1': 'PK', 'name': 'Pakistan'},
 {'iso_3166_1': 'NP', 'name': 'Nepal'},
 {'iso_3166_1': 'CI', 'name': "Cote D'Ivoire"},
 {'iso_3166_1': 'TH', 'name': 'Thailand'},
 {'iso_3166_1': 'NA', 'name': 'Namibia'},
 {'iso_3166_1': 'CM', 'name': 'Cameroon'},
 {'iso_3166_1': 'CO', 'name': 'Colombia'},
 {'iso_3166_1': 'XC', 'name': 'Czechoslovakia'},
 {'iso_3166_1': 'UY', 'name': 'Uruguay'},
 {'iso_3166_1': 'SI', 'name': 'Slovenia'},
 {'iso_3166_1': 'LY', 'name': 'Libyan Arab Jamahiriya'},
 {'iso_3166_1': 'PR', 'name': 'Puerto Rico'},
 {'iso_3166_1': 'SU', 'name': 'Soviet Union'},
 {'iso_3166_1': 'XG', 'name': 'East Germany'},
 {'iso_3166_1': 'SG', 'name': 'Singapore'},
 {'iso_3166_1': 'AF', 'name': 'Afghanistan'},
 {'iso_3166_1': 'MT', 'name': 'Malta'},
 {'iso_3166_1': 'PA', 'name': 'Panama'},
 {'iso_3166_1': 'EG', 'name': 'Egypt'},
 {'iso_3166_1': 'ZW', 'name': 'Zimbabwe'},
 {'iso_3166_1': 'TJ', 'name': 'Tajikistan'},
 {'iso_3166_1': 'UZ', 'name': 'Uzbekistan'},
 {'iso_3166_1': 'CR', 'name': 'Costa Rica'},
 {'iso_3166_1': 'KW', 'name': 'Kuwait'},
 {'iso_3166_1': 'MQ', 'name': 'Martinique'},
 {'iso_3166_1': 'GH', 'name': 'Ghana'},
 {'iso_3166_1': 'AM', 'name': 'Armenia'},
 {'iso_3166_1': 'ID', 'name': 'Indonesia'},
 {'iso_3166_1': 'MN', 'name': 'Mongolia'},
 {'iso_3166_1': 'BO', 'name': 'Bolivia'},
 {'iso_3166_1': 'MC', 'name': 'Monaco'},
 {'iso_3166_1': 'IQ', 'name': 'Iraq'},
 {'iso_3166_1': 'SK', 'name': 'Slovakia'},
 {'iso_3166_1': 'CS', 'name': 'Serbia and Montenegro'},
 {'iso_3166_1': 'VE', 'name': 'Venezuela'},
 {'iso_3166_1': 'LT', 'name': 'Lithuania'},
 {'iso_3166_1': 'RW', 'name': 'Rwanda'},
 {'iso_3166_1': 'PS', 'name': 'Palestinian Territory'},
 {'iso_3166_1': 'TD', 'name': 'Chad'},
 {'iso_3166_1': 'PY', 'name': 'Paraguay'},
 {'iso_3166_1': 'QA', 'name': 'Qatar'},
 {'iso_3166_1': 'EE', 'name': 'Estonia'},
 {'iso_3166_1': 'MO', 'name': 'Macao'},
 {'iso_3166_1': 'ML', 'name': 'Mali'},
 {'iso_3166_1': 'UM', 'name': 'United States Minor Outlying Islands'},
 {'iso_3166_1': 'LV', 'name': 'Latvia'},
 {'iso_3166_1': 'AE', 'name': 'United Arab Emirates'},
 {'iso_3166_1': 'AZ', 'name': 'Azerbaijan'},
 {'iso_3166_1': 'KY', 'name': 'Cayman Islands'},
 {'iso_3166_1': 'NI', 'name': 'Nicaragua'},
 {'iso_3166_1': 'LR', 'name': 'Liberia'},
 {'iso_3166_1': 'YU', 'name': 'Yugoslavia'},
 {'iso_3166_1': 'ME', 'name': 'Montenegro'},
 {'iso_3166_1': 'AO', 'name': 'Angola'},
 {'iso_3166_1': 'BY', 'name': 'Belarus'},
 {'iso_3166_1': 'KH', 'name': 'Cambodia'},
 {'iso_3166_1': 'MR', 'name': 'Mauritania'},
 {'iso_3166_1': 'CY', 'name': 'Cyprus'},
 {'iso_3166_1': 'BD', 'name': 'Bangladesh'},
 {'iso_3166_1': 'SY', 'name': 'Syrian Arab Republic'},
 {'iso_3166_1': 'KG', 'name': 'Kyrgyz Republic'},
 {'iso_3166_1': 'AL', 'name': 'Albania'},
 {'iso_3166_1': 'TZ', 'name': 'Tanzania'},
 {'iso_3166_1': 'KP', 'name': 'North Korea'},
 {'iso_3166_1': 'KE', 'name': 'Kenya'},
 {'iso_3166_1': 'JO', 'name': 'Jordan'},
 {'iso_3166_1': 'UG', 'name': 'Uganda'},
 {'iso_3166_1': 'SA', 'name': 'Saudi Arabia'},
 {'iso_3166_1': 'SO', 'name': 'Somalia'},
 {'iso_3166_1': 'GT', 'name': 'Guatemala'},
 {'iso_3166_1': 'MG', 'name': 'Madagascar'},
 {'iso_3166_1': 'ET', 'name': 'Ethiopia'},
 {'iso_3166_1': 'LK', 'name': 'Sri Lanka'},
 {'iso_3166_1': 'PG', 'name': 'Papua New Guinea'},
 {'iso_3166_1': 'NG', 'name': 'Nigeria'},
 {'iso_3166_1': 'LA', 'name': "Lao People's Democratic Republic"},
 {'iso_3166_1': 'PF', 'name': 'French Polynesia'},
 {'iso_3166_1': 'AN', 'name': 'Netherlands Antilles'},
 {'iso_3166_1': 'CG', 'name': 'Congo'},
 {'iso_3166_1': 'MM', 'name': 'Myanmar'},
 {'iso_3166_1': 'BM', 'name': 'Bermuda'},
 {'iso_3166_1': 'SV', 'name': 'El Salvador'},
 {'iso_3166_1': 'TF', 'name': 'French Southern Territories'},
 {'iso_3166_1': 'WS', 'name': 'Samoa'},
 {'iso_3166_1': 'MD', 'name': 'Moldova'},
 {'iso_3166_1': 'BB', 'name': 'Barbados'},
 {'iso_3166_1': 'AQ', 'name': 'Antarctica'},
 {'iso_3166_1': 'GI', 'name': 'Gibraltar'},
 {'iso_3166_1': 'BN', 'name': 'Brunei Darussalam'},
 {'iso_3166_1': 'HN', 'name': 'Honduras'},
 {'iso_3166_1': 'GN', 'name': 'Guinea'}]

In [110]:
for country in countries:
    df_dict['iso_3166_1'].append(country['iso_3166_1'])
    df_dict['name'].append(country['name'])

In [111]:
df_dict

{'iso_3166_1': ['US',
  'DE',
  'GB',
  'FR',
  'IT',
  'ES',
  'CN',
  'AU',
  'ZA',
  'CA',
  'CH',
  'BE',
  'JP',
  'IR',
  'NL',
  'HK',
  'TN',
  'IE',
  'DO',
  'HR',
  'RU',
  'MK',
  'AT',
  'TW',
  'NZ',
  'MX',
  'PL',
  'PE',
  'CU',
  'LI',
  'DK',
  'PT',
  'FI',
  'SE',
  'AR',
  'IS',
  'KR',
  'RS',
  'HU',
  'CZ',
  'IN',
  'BR',
  'GR',
  'CD',
  'SN',
  'BF',
  'RO',
  'PH',
  'VN',
  'TT',
  'BG',
  'CL',
  'NO',
  'KZ',
  'DZ',
  'LU',
  'GE',
  'UA',
  'BW',
  'AW',
  'IL',
  'TR',
  'EC',
  'LB',
  'MA',
  'BA',
  'BS',
  'MY',
  'BT',
  'JM',
  'PK',
  'NP',
  'CI',
  'TH',
  'NA',
  'CM',
  'CO',
  'XC',
  'UY',
  'SI',
  'LY',
  'PR',
  'SU',
  'XG',
  'SG',
  'AF',
  'MT',
  'PA',
  'EG',
  'ZW',
  'TJ',
  'UZ',
  'CR',
  'KW',
  'MQ',
  'GH',
  'AM',
  'ID',
  'MN',
  'BO',
  'MC',
  'IQ',
  'SK',
  'CS',
  'VE',
  'LT',
  'RW',
  'PS',
  'TD',
  'PY',
  'QA',
  'EE',
  'MO',
  'ML',
  'UM',
  'LV',
  'AE',
  'AZ',
  'KY',
  'NI',
  'LR',
  'YU',
  'ME',
  'AO',
  'BY',
  'KH',
  'MR',
  'CY',
  'BD',
  'SY',
  'KG',
  'AL',
  'TZ',
  'KP',
  'KE',
  'JO',
  'UG',
  'SA',
  'SO',
  'GT',
  'MG',
  'ET',
  'LK',
  'PG',
  'NG',
  'LA',
  'PF',
  'AN',
  'CG',
  'MM',
  'BM',
  'SV',
  'TF',
  'WS',
  'MD',
  'BB',
  'AQ',
  'GI',
  'BN',
  'HN',
  'GN'],
 'name': ['United States of America',
  'Germany',
  'United Kingdom',
  'France',
  'Italy',
  'Spain',
  'China',
  'Australia',
  'South Africa',
  'Canada',
  'Switzerland',
  'Belgium',
  'Japan',
  'Iran',
  'Netherlands',
  'Hong Kong',
  'Tunisia',
  'Ireland',
  'Dominican Republic',
  'Croatia',
  'Russia',
  'Macedonia',
  'Austria',
  'Taiwan',
  'New Zealand',
  'Mexico',
  'Poland',
  'Peru',
  'Cuba',
  'Liechtenstein',
  'Denmark',
  'Portugal',
  'Finland',
  'Sweden',
  'Argentina',
  'Iceland',
  'South Korea',
  'Serbia',
  'Hungary',
  'Czech Republic',
  'India',
  'Brazil',
  'Greece',
  'Congo',
  'Senegal',
  'Burkina Faso',
  'Romania',
  'Philippines',
  'Vietnam',
  'Trinidad and Tobago',
  'Bulgaria',
  'Chile',
  'Norway',
  'Kazakhstan',
  'Algeria',
  'Luxembourg',
  'Georgia',
  'Ukraine',
  'Botswana',
  'Aruba',
  'Israel',
  'Turkey',
  'Ecuador',
  'Lebanon',
  'Morocco',
  'Bosnia and Herzegovina',
  'Bahamas',
  'Malaysia',
  'Bhutan',
  'Jamaica',
  'Pakistan',
  'Nepal',
  "Cote D'Ivoire",
  'Thailand',
  'Namibia',
  'Cameroon',
  'Colombia',
  'Czechoslovakia',
  'Uruguay',
  'Slovenia',
  'Libyan Arab Jamahiriya',
  'Puerto Rico',
  'Soviet Union',
  'East Germany',
  'Singapore',
  'Afghanistan',
  'Malta',
  'Panama',
  'Egypt',
  'Zimbabwe',
  'Tajikistan',
  'Uzbekistan',
  'Costa Rica',
  'Kuwait',
  'Martinique',
  'Ghana',
  'Armenia',
  'Indonesia',
  'Mongolia',
  'Bolivia',
  'Monaco',
  'Iraq',
  'Slovakia',
  'Serbia and Montenegro',
  'Venezuela',
  'Lithuania',
  'Rwanda',
  'Palestinian Territory',
  'Chad',
  'Paraguay',
  'Qatar',
  'Estonia',
  'Macao',
  'Mali',
  'United States Minor Outlying Islands',
  'Latvia',
  'United Arab Emirates',
  'Azerbaijan',
  'Cayman Islands',
  'Nicaragua',
  'Liberia',
  'Yugoslavia',
  'Montenegro',
  'Angola',
  'Belarus',
  'Cambodia',
  'Mauritania',
  'Cyprus',
  'Bangladesh',
  'Syrian Arab Republic',
  'Kyrgyz Republic',
  'Albania',
  'Tanzania',
  'North Korea',
  'Kenya',
  'Jordan',
  'Uganda',
  'Saudi Arabia',
  'Somalia',
  'Guatemala',
  'Madagascar',
  'Ethiopia',
  'Sri Lanka',
  'Papua New Guinea',
  'Nigeria',
  "Lao People's Democratic Republic",
  'French Polynesia',
  'Netherlands Antilles',
  'Congo',
  'Myanmar',
  'Bermuda',
  'El Salvador',
  'French Southern Territories',
  'Samoa',
  'Moldova',
  'Barbados',
  'Antarctica',
  'Gibraltar',
  'Brunei Darussalam',
  'Honduras',
  'Guinea']}

In [112]:
movies_countries = pd.DataFrame.from_dict(df_dict)
movies_countries

    iso_3166_1                      name
0           US  United States of America
1           DE                   Germany
2           GB            United Kingdom
3           FR                    France
4           IT                     Italy
..         ...                       ...
156         AQ                Antarctica
157         GI                 Gibraltar
158         BN         Brunei Darussalam
159         HN                  Honduras
160         GN                    Guinea

[161 rows x 2 columns]

In [113]:
movies_countries.to_csv('./clean_db/movies_countries.csv', index=False)